* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    background: rgb(52, 109, 134);
    width: 50%;
    height: 100%;
    z-index: 1;
    position: absolute;
    opacity: 85%;
    background: rgba(104, 142, 202, 0.453);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0.5px solid rgba(255, 255, 255, 0.3);

}

.metropark{
    position: absolute;
    font-size: 70px;
    top: 10%;
    left: 10%;
    width: 20%;
    z-index: 1;
    color: rgb(242, 242, 242);
   /* -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-variant: small-caps;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
}

.Meteorology{
    position: absolute;
    font-size: 80px;
    top: 20%;
    left: 5%;
    width: 20%;
    z-index: 1;
    color: rgb(242, 242, 242);
   /* -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-variant: small-caps;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
}

h2{
    position: absolute;
    font-size: 45px;
    top: 40%;
    left: 5%;
    width: 40%;
    z-index: 1;
    color: rgb(242, 242, 242);
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    box-sizing: border-box;
}

.cta{
    top: 65%;
    left: 17%;
    position: absolute;
    z-index: 1;
    width: 15%;
    height: 10%;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.453);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

button:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

.mapButton{
    top: 3%;
    left: 82%;
    position: absolute;
    z-index: 1;
    width: 6%;
    height: 6%;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.453);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.aboutButton{
    top: 3%;
    left: 90%;
    position: absolute;
    z-index: 1;
    width: 8%;
    height: 6%;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.453);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 0;
    object-fit: cover;
}



/* MAP SECTION */





.metroMap{
    position: absolute;
    width: 95%;
    height: 95%;
    left: 2.5%;
    top: 2.5%;
    z-index: -1;
}



.homeButton{
  top: 3%;
  left: 80%;
  position: absolute;
  z-index: 1;
  width: 8%;
  height: 6%;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.453);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.point{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 36.8%;
    top: 40%;
    cursor: pointer;
}



/* point 2 */


.point2{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 31.7%;
    top: 48.8%;
    cursor: pointer;
}


  /* point 3 */


  .point3{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 33.4%;
    top: 54%;
    cursor: pointer;
}


  /* point 4 */


  .point4{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 35.5%;
    top: 54%;
    cursor: pointer;
}



  /* point 5 */


  .point5{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 68%;
    cursor: pointer;
}


  /* point 6 */


  .point6{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 52.1%;
    top: 71.8%;
    cursor: pointer;
}

  /* point 7 */


  .point7{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 53.2%;
    top: 74.5%;
    cursor: pointer;
}



/* point 8 */


.point8{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 58.8%;
    top: 78%;
    cursor: pointer;
}

/* point 9 */


.point9{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 74.2%;
    top: 31.5%;
    cursor: pointer;
}



/* point 10 */


.point10{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 69.2%;
    top: 13.5%;
    cursor: pointer;
}



/* point 11 */


.point11{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 63.8%;
    top: 19%;
    cursor: pointer;
}




/* point 12 */


.point12{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 47.8%;
    top: 19.5%;
    cursor: pointer;
}



/* point 13 */


.point13{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 42%;
    top: 34.5%;
    cursor: pointer;
}


.popUp {
  width: fit-content;
  height: fit-content;
  background: rgba(93, 140, 220, 0.793);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  z-index: 10;
  margin-left: 5%;
  margin-right: auto;
  margin-top: 15px;
  padding: 5px 10px 10px 5px;
}

.weatherRow{
  display: flex;
  flex-direction: row;
  padding-left: 6px;
  padding-right: 50px;
  padding-bottom: 7px;
  padding-top: 15px;
}

.weatherList {
  display: flex;
  flex-direction: column;
}

.weatherList p {
  text-align: center;
  font-size: 16px;
  padding-top: 5px;
  font-family:'Times New Roman', Times, serif;
  color: whitesmoke;
  text-shadow: 5px black;
  
}

.weatherList h3{
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  text-shadow: 5px black;
  top: 0px;
  text-align: center;
}

.weatherTemps {
  display: flex;
  flex-direction: column;
}





/* ABOUT ME SECTION */


.aboutBackground{
  position: absolute;
  width: 100%;
  height: 400%;
  top: 100%;
  background-color: #c59f7c;
  z-index: 1;
}

.aboutUsText{
  font-size: 200px;
  font-family:'Times New Roman', Times, serif;
  font-style: bold;
  color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  mix-blend-mode: exclusion;
}

.aboutCloud{
  display: flex;
  width: 100%;
  height: 70%;
}

.aboutHomeButton{
  top: 3%;
  left: 80%;
  position: absolute;
  z-index: 1;
  width: 8%;
  height: 6%;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.453);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.aboutMapButton{
  top: 3%;
  left: 90%;
  position: absolute;
  z-index: 1;
  width: 6%;
  height: 6%;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.453);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.sarahImg{
  position: absolute;
  top: 120%;
  left: -5%;
  z-index: 3;
  width: 70%;
  height: 70%;
}

.sarahTextHead{
  position: absolute;
  top: 125%;
  right: 3%;
  z-index: 3;
  width: 40%;
  font-size: 70px;
  text-align: center;
  text-decoration: underline;
}

.sarahText{
  position: absolute;
  top: 140%;
  right: 3%;
  z-index: 3;
  width: 40%;
  font-size: 35px;
  text-align: center;
}


.nicholasImg{
  position: absolute;
  top: 200%;
  right: 0%;
  z-index: 3;
  width: 55%;
  height: 55%;
}

.nichTextHead{
  position: absolute;
  top: 205%;
  left: 4%;
  z-index: 3;
  width: 40%;
  font-size: 70px;
  text-align: center;
  text-decoration: underline;
}

.nichText{
  position: absolute;
  top: 220%;
  left: 4%;
  z-index: 3;
  width: 40%;
  font-size: 35px;
  text-align: center;
}


.melissaImg{
  position: absolute;
  top: 270%;
  left: 0%;
  z-index: 3;
  width: 50%;
  height: 50%;
}

.melTextHead{
  position: absolute;
  top: 270%;
  right: 4%;
  z-index: 3;
  width: 40%;
  font-size: 70px;
  text-align: center;
  text-decoration: underline;
}

.melText{
  position: absolute;
  top: 285%;
  right: 4%;
  z-index: 3;
  width: 40%;
  font-size: 35px;
  text-align: center;
}


.brianImg{
  position: absolute;
  top: 345%;
  right: 0%;
  z-index: 3;
  width: 50%;
  height: 50%;
}

.briTextHead{
  position: absolute;
  top: 340%;
  left: 4%;
  z-index: 3;
  width: 40%;
  font-size: 70px;
  text-align: center;
  text-decoration: underline;
}

.briText{
  position: absolute;
  top: 355%;
  left: 4%;
  z-index: 3;
  width: 40%;
  font-size: 35px;
  text-align: center;
}


.jereImg{
  position: absolute;
  top: 420%;
  left: 0%;
  z-index: 3;
  width: 50%;
  height: 50%;
}

.jereTextHead{
  position: absolute;
  top: 420%;
  right: 4%;
  z-index: 3;
  width: 40%;
  font-size: 70px;
  text-align: center;
  text-decoration: underline;
}

.jereText{
  position: absolute;
  top: 435%;
  right: 4%;
  z-index: 3;
  width: 40%;
  font-size: 35px;
  text-align: center;
}