* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
}

.background{
    background: rgb(73,134,52);
    background: linear-gradient(142deg, rgba(73,134,52,1) 44%, rgb(132, 204, 124) 100%);
    width: 50%;
    height: 100%;
    z-index: 1;
    position: absolute;
    opacity: 85%;
}

.metropark{
    position: absolute;
    font-size: 70px;
    top: 10%;
    left: 10%;
    width: 20%;
    z-index: 1;
    color: rgb(242, 242, 242);
   /* -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-variant: small-caps;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
}

.Meteorology{
    position: absolute;
    font-size: 80px;
    top: 20%;
    left: 5%;
    width: 20%;
    z-index: 1;
    color: rgb(242, 242, 242);
   /* -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-variant: small-caps;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
}

h2{
    position: absolute;
    font-size: 40px;
    top: 40%;
    left: 5%;
    width: 40%;
    z-index: 1;
    color: rgba(219, 219, 219, 0.947);
    /* -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    box-sizing: border-box;
}

button{
    top: 65%;
    left: 17%;
    position: absolute;
    z-index: 1;
    width: 15%;
    height: 10%;
    background-color: rgba(230, 230, 230, 0.882);
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    border-radius: 4px;
    border: none;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.536));
    transition: 0.3s;
}

button:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

.video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 0;
    object-fit: cover;
}